<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ABOUTUS.HTML</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="reset.css"> -->
  <link rel="stylesheet" href="/static/css/space.css">
  <!-- <link rel="stylesheet" href="/static/css/custom.css"> -->
  <!-- <link rel="stylesheet" href="/static/css/test5.css"> -->
  <!-- <link rel="stylesheet" href="/static/css/jquery.js"> -->
  <!-- jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
</head>
<body>
    
    <!-- Icon  NAVBAR -->
    <div class="wrapper">
     
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="color: white;">
        <a class="navbar-brand icon-background-color team-rocket-color" style="color:white;" href="index.html"><strong><img src="../static/images/redBlueRocket.png" alt="Red & Blue Rocket" width="35" height="30" class="d-inline-block align-text-top"><strong>Team Rocket</strong><img src="/static/images/redBlueRocket.png" alt="" width="35" height="30" class="d-inline-block align-text-top"></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse navbar-color navbar-dropdown" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">


        <li class="nav-item active">
            <a class="nav-link" style="color:white;" href="/templates/maps.html"><strong>Maps</strong><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color:white;" href="/templates/graphs.html"><strong>Space Launches by Country</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  style="color:white;" href="/templates/graphs-Kelly.html"><strong>Space Race Graphs</strong></a>
          </li>           
          <li class="nav-item">
            <a class="nav-link"  style="color:white;" href="/templates/aboutUs.html"><strong>About Us</strong></a>
          </li>     
          <li class="nav-item">
            <a class="nav-link"  style="color:white;" href="/templates/data.html"><strong>Data</strong></a>
          </li>
      </ul>
    </div>
  </nav>
  <div class="hero text-center">
    <h1 data-toggle="tooltip" title="Hover your mouse over the text on the left column or you will be probed.">About Us</h1>
    <!-- <p data-toggle="tooltip" title="The truth is that we are only checking your temperature.">The Truth is Out There</p> -->
  </div> 


  <!-- MAIN DIV -->
  <div class="container">
    <div class="row">  
      <!-- left div -->
      <div class="col-md-12">
        <div class="text-left">
          <!-- <div class="title-banner-big">
            <h3><strong>About Us</strong></h3>
          </div> -->
        </div>
        <hr>

        <!---------------------- MAIN SECTION LEFT --------------------------------->
        <div class="INSERT-MAP/CHART-HERE img-hover-zoom-main">   
            <div class="container-fluid">
                <div class="px-lg-5">
              

    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Kelly Cash</h1>
              <hr class="about-me-hr"/>
              <img src="https://ca.slack-edge.com/T01G0DDRKBN-U01GUB7HE72-8308f0adb90d-512" alt="Kelly ₵a$h Mon€¥" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="..." target="_blank">
                  <img src="/static/images/github.png" alt="Kelly ₵a$h Mon€¥'s Github" class="connect-with-me-photo"></a>
                  <a href="..." target="_blank">
                  <img src="/static/images/linkedin.png" alt="Kelly ₵a$h Mon€¥s Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->



    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Betsy James</h1>
              <hr class="about-me-hr"/>
              <img src="https://ca.slack-edge.com/T01G0DDRKBN-U01FPSME68P-f70043d502a0-512" alt="Betsy James" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="..." target="_blank">
                  <img src="/static/images/github.png" alt="Betsy James's Github" class="connect-with-me-photo"></a>
                  <a href="..." target="_blank">
                  <img src="/static/images/linkedin.png" alt="Betsy James's Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->



    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Joseph Kim</h1>
              <hr class="about-me-hr"/>
              <img src="https://ca.slack-edge.com/T01G0DDRKBN-U01G3KTJ78B-073b6d6234ee-512" alt="" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="https://github.com/joekimga" target="_blank">
                  <img src="/static/images/github.png" alt="Joe's Github" class="connect-with-me-photo"></a>
                  <a href="https://www.linkedin.com/in/joseph-k-17732312b/" target="_blank">
                  <img src="/static/images/linkedin.png" alt="Joe's Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->


    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Grace Sun</h1>
              <hr class="about-me-hr"/>
              <img src="https://ca.slack-edge.com/T01G0DDRKBN-U01GCNT0NF4-84a87ae15a91-512" alt="Grace Sun" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="..." target="_blank">
                  <img src="/static/images/github.png" alt="Grace Sun's Github" class="connect-with-me-photo"></a>
                  <a href="..." target="_blank">
                  <img src="/static/images/linkedin.png" alt="Grace Sun's Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->    



    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Linlin Sun</h1>
              <hr class="about-me-hr"/>
              <img src="https://lumiere-a.akamaihd.net/v1/images/b_disneyprincess_updates_mulan_mobile_19274_e6509c65.jpeg?region=0,0,640,709" alt="Linlin Sun" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="..." target="_blank">
                  <img src="/static/images/github.png" alt="Linlin Sun's Github" class="connect-with-me-photo"></a>
                  <a href="https://www.linkedin.com/in/linlin-sun-2791532/" target="_blank">
                  <img src="/static/images/linkedin.png" alt="Linlin Sun's Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->
    
    

    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <article class="about-me-content">
              <h1 class="about-me-header">Sophie Qiao</h1>
              <hr class="about-me-hr"/>
              <img src="https://ca.slack-edge.com/T01G0DDRKBN-U01G0SKHE3H-1fe05bfca2e0-512" alt="Sophie Qiao" id="nate-image"/>
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <br />
              <p id="aboutmePara">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </article>
          </div>
          <div class="col-md-4">

            <!-- Start of Connect With Me Area -->
            <section id="connect-with-me-area">
              <div class="connect-with-me-content">
                <h1 class="connect-with-me-header">Connect With Me</h1>
                <hr />
                <div id="images">
                  <a href="..." target="_blank">
                  <img src="/static/images/github.png" alt="Sophie Qiao's Github" class="connect-with-me-photo"></a>
                  <a href="..." target="_blank">
                  <img src="/static/images/linkedin.png" alt="Sophie Qiao's Linkedin" class="connect-with-me-photo"></a>
                </div>
              </div>
            </section>
            <!-- End of the Connect With Me Area -->

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->


    



        </div>

        <!-- <div  class="container" id="pic-bottom-text"> 
        </div> -->

      </div>

  </div>

      </div>
    </div>
  </div>



<!----------------------- AUDIO ------------------------>
<!-- <embed src="space_shuttle.mp3" loop="true" autostart="true" width="2" height="0"> -->



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!-------------------- Footer --------------------->
<!-- <div class="footer" id="footer:small">
  <p>&copy 2021 Team Rocket</p>
</div> -->

</body>
</html>
